* {
    margin: 0;
    padding: 0;
}
body {
    background: url(img/pic1.jpg);
    font-family: sans-serif;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 90px;
    color: white;
    margin-top: 15px;
}