* {
    margin: 0;
    padding: 0;
}
body {
    background: url(img/pic2.jpg);
    font-family: sans-serif;
    color: #fff;
    height: 100vh;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 90px;
    color: white;
    line-height: .8;
}
#topheader {
  padding-top: 40px;
}
#bottomheader {
  margin-bottom: 30px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}
h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}
.container {
    text-align: center;
}
#btn {
display: block;
}
.select {
    margin-left: auto;
    margin-right: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin-bottom: 30px;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  #printworkout {
    min-height: 400px;
    width: 500px;
    margin: auto;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    line-height: 2.5;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.267);
    display: none;
  }
h3 {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-size: 28px;
}
#saveworkout {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
h5 {
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
  margin-bottom: 30px;
}
form {
  text-align: center;
}
#toIndex {
  color: #fff;
  text-decoration: none;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  border: 1px solid white;
  padding: 5px;
}
#toIndex:hover {
  transform: scale(1.1);
  
}
.container2 {
  text-align: center;
}
input {
  text-align: center;
  padding: 2px
}
@media only screen and (max-width: 600px) {
  #printworkout  {
    width: 300px;
  }
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 25px;
  }
  input {
    width: 90%;
    margin-top:15px;
  }
  #addWorkoutBtn {
    max-width: 30%;;
  }
}